<% tabular_sales_data() %>
<% if !@tabular_sales_data.nil? %>
    <div class="px-4 py-4 mx-auto m-5"  style="background-color:white;width:80%">    
        <div class="text-2xl mb-5">
            Sales Data <%= @tabular_sales_group_by %>
        </div>
        <div class="float-right">
            <%= select_tag("Sales of",options_for_select(["Yearly","Monthly","Weekly","Daily"],@tabular_sales_group_by),id: "dropdown_sales_tabular") %>
        </div>  
        <table class="min-w-full divide-y divide-gray-200 mt-4">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Year
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Total Orders(Sales)
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Total Income
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <% @tabular_sales_data.each do |order_data| %>
                    <% total_revenue=order_data.second.pluck(:total_amount) %>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="flex items-center">
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">   
                                    <% if @tabular_sales_group_by == "Yearly" %>                         
                                        <%= order_data.first.year %>
                                    <% elsif @tabular_sales_group_by == "Monthly" %>
                                        <%= Date::MONTHNAMES[order_data.first.month] %>
                                    <% elsif @tabular_sales_group_by == "Weekly" %>
                                        <%= order_data.first.to_date %>
                                    <% elsif @tabular_sales_group_by == "Daily" %>
                                        <%= order_data.first.to_date %>
                                    <% end %>
                                </div>
                            </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="flex items-center">
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">
                                    <%= @total_order=total_revenue.length %>
                                </div>
                            </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="flex items-center">
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">
                                    <%= @total_revenue=total_revenue.sum %>                                
                                </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to "Print Pdf", sales_analytical_data_pdf_static_pages_path(tabular_sales_group_by: @tabular_sales_group_by,foramt: "pdf") %>
    </div>
<% end %>
<script>
    $("#dropdown_sales_tabular").on("change",function() {
        $.ajax({
            url: "../static_pages/sales_tabular_data",
            data: "tabular_sales_group_by="+$("#dropdown_sales_tabular").val(),
            type: "get"
        })
    })
</script>