<div class="content">
  <% if user_signed_in? && current_user.role == "admin"%>
    <div id="sales_graph_data">
      <%= render 'static_pages/sales_graph_data' %>
    </div>
    <div id="sales_tabular_data">
      <%= render 'static_pages/sales_tabular_data' %>
    </div>
    <div id="users_graph_data">
      <%= render 'static_pages/users_graph_data' %>
    </div>

  <% elsif user_signed_in? && current_user.role == "seller" %>
    <div id="sales_graph_data">
      <%= render 'static_pages/sales_graph_data' %>
    </div>
    <div id="sales_tabular_data">
      <%= render 'static_pages/sales_tabular_data' %>
    </div>

  <% else %>
    <% if Category.all.length != 0 && Product.all.length != 0 %>
      <!--Most Popular-->
      <div class="addhead mt-5">
          <div>
              <h1 class="head">Most Popular Items</h1>
          </div>
      </div>
      <div class="w-full mx-auto">
        <div class="products slider w-full mx-auto">
          <% unless @most_popular.nil? %>
            <% @most_popular.each do |product_variant| %>
              <%= link_to product_variant,class: "bg-inherit" do %>
                <div class= "cards mx-auto">
                  <% if product_variant.main_image.attached? %>
                    <%= image_tag product_variant.main_image,class: "h-full", style: "height: 245px;width: auto;border-radius: 4px;margin: auto;margin-top: 7px;" %>
                  <% else %>
                    <%= image_tag image_url("no_image.jpg"), class:"h-full", style: "height: 245px;width: auto;border-radius: 4px;margin: auto;margin-top: 7px;" %>
                  <% end %>
                  <div class="card-body mt-2 mb-2 text-center">
                    <%= product_variant.product.name %>
                  </div>
                </div>
              <% end %>
            <% end %> 
          <% end %>
        </div>
      </div>
      <!--Trending-->
      <div class="addhead mt-5">
          <div>
              <h1 class="head">Trending Items</h1>
          </div>
      </div>
      <div class="w-full mx-auto">
        <div class="products slider w-full mx-auto">
          <% @trending.each do |product_variant| %>
            <%= link_to product_variant,class: "bg-inherit" do %>
              <div class= "cards mx-auto" style="height: 299.5px;width: 200px">
                <div class="card-img mx-auto">
                    <% if product_variant.main_image.attached? %>
                      <%= image_tag product_variant.main_image,class: "product-image mx-auto", style: "position: absolute;max-height: 245px;width: auto;border-radius: 4px;margin: auto;margin-top: 7px;" %>
                    <% else %>
                      <%= image_tag image_url("no_image.jpg"), class:"h-full", style: "height: 245px;width: auto;border-radius: 4px;margin: auto;margin-top: 7px;" %>
                    <% end %>
                </div>
                <div class="card-body mt-2 mb-2 text-center">
                  <%= product_variant.product.name %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- Products -->
      <% if Category.all.length != 0 %>
        <% @category.each do |category| %>
          <div class="addhead mt-5">
            <div>
              <h1 class="head"><%= category.name %></h1>
            </div>
          </div>
          <div class="w-full mx-auto">
                <div class="products slider w-full mx-auto">
          <% category.products.limit(10).each do |product| %>
            <% product_variant = product.product_variants.includes(:main_image_attachment).limit(1).each do |product_variant| %>
                    <%= link_to product_variant,class: "bg-inherit" do %>
                      <div class= "cards mx-auto">
                        <% if product_variant.main_image.attached? %>
                          <%= image_tag product_variant.main_image,class: "h-full", style: "height: 245px;width: auto;border-radius: 4px;margin: auto;margin-top: 7px;" %>
                        <% else %>
                          <%= image_tag image_url("no_image.jpg"), class:"h-full", style: "height: 245px;width: auto;border-radius: 4px;margin: auto;margin-top: 7px;" %>
                        <% end %>
                        <div class="card-body mt-2 mb-2 text-center">
                          <%= product_variant.product.name %>
                        </div>
                      </div>
                    <% end %>
            <% end %>
          <% end %>
                </div>
              </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>