<div class="text-center mt-4">
      <div class="flex items-center justify-center">
         <i class="fa fa-lock" style="font-size:48px;color:blue"></i>
      </div>
      <h2 class="text-4xl tracking-tight">
         Create a new account
      </h2>
      <span class="text-sm">or <a href="/users/sign_in" class="text-blue-500"> 
         Sign in with existing account
      </a>
   </span>
</div>
<div class="flex justify-center my-2 mx-4 md:mx-0 ">
  <div class="w-full max-w-xl bg-white rounded-lg shadow-md p-6">
   <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-full px-3 mb-6">
            <%= f.label :name, class: "devise-label block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none", type:'text' %>
        </div>
         <div class="w-full md:w-full px-3 mb-6">
            <%= f.label :email, class: "devise-label block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none", type:'email' %>
         </div>
         <div class="w-full md:w-full px-3 mb-6">
            <%= f.label :password, class: "devise-label block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none", type:'password' %>
         </div>
         <div class="w-full md:w-full px-3 mb-6">
            <%= f.label :password_confirmation, class: "devise-label block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none", type:'password' %>
         </div>
         <div class="w-full md:w-full px-3 mb-6">
            <%= f.label :role, "Sign up as", class: "devise-label block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
            <%= f.select(:role,{"Buyer"=>"buyer", "Seller"=>"seller"})%>
         </div>
         <div class="w-full md:w-full px-3 mb-6">
            <button class="appearance-none block w-full bg-green-600 text-gray-100 font-bold border border-gray-200 rounded-lg py-3 px-3 leading-tight hover:bg-green-500 focus:outline-none focus:bg-white focus:border-gray-500">Sign up</button>
         </div>
      </div>
   <% end %>
  </div> 
</div>