<% if((defined? params[:user_date])&&((params[:user_date] != nil) && (params[:duration].to_i >= params[:default_duration].to_i))) %>
   <div class="bg-white-900 text-center">
        <h2 class="text-lg font-semi-bold head w-full">Please Select Time</h2><br>
        <table class="table" style="font-size:12px"> 
            <% @time=params[:start_time].to_time %>
            <% i=0 %>
            <% while @time < params[:end_time].to_time do %>
                <% i = i+1 %>
                <% if i==1 %>
                <tr>
                <% end %>
                    <% @slot_start_time=@time %>
                    <% @slot_end_time= @time+60*params[:duration].to_i %>
                    <% if Order.where("date = ? AND cart = false AND ((start_time = ?) OR (start_time BETWEEN ? AND ? AND start_time != ?) OR (end_time BETWEEN ? and ? AND end_time != ?) ) ", params[:user_date], @slot_start_time,@slot_start_time,@slot_end_time,@slot_end_time,@slot_start_time,@slot_end_time,@slot_start_time).length == 0 %> 
                        <td>
                            <button class="appearance-none block w-full bg-green-600 text-gray-100 font-bold border border-gray-200 rounded-lg py-3 px-3 leading-tight hover:bg-green-500 focus:opacity-70 focus:outline-none focus:border-gray-500" type="button" onclick="setTime('<%= @slot_start_time %>','<%= @slot_end_time %>')" style="font-size:12px">
                                <%=@slot_start_time.strftime("%I:%M%p")%> 
                                <br>to<br>
                                <%=@slot_end_time.strftime("%I:%M%p")%>
                            </button>
                        </td>
                    <% else %>
                        <td>
                            <button class="appearance-none block w-full bg-red-600 text-gray-100 font-bold border border-gray-200 rounded-lg py-3 px-3 leading-tight hover:bg-red-500 focus:outline-none focus:border-gray-500 opacity-60 cursor-not-allowed" style="font-size:12px">
                                <%=@slot_start_time.strftime("%I:%M%p")%> 
                                <br>to<br>
                                <%=@slot_end_time.strftime("%I:%M%p")%>
                            </button>
                        </td>
                    <% end %>
                    <%  @time = @slot_end_time %>
                <% if i== 5 %>
                </tr>
                <% i = 0 %>
                <% end %>
            <% end %>
        </table>
    </div>
<% end%>