<p id="notice"><%= notice %></p>

<div class="flex flex-col">
  <div class="showing-result-text mt-4 mb-8">
    Showing <%= @searches.size %> of <%= @searches.total_entries %>results for "<%= params[:query] %>"
  </div>
  <% @searches.each do |result| %>
    <% if defined? result.product_variants %>
      <% result.product_variants.each do |product_variant| %>
        <% if !product_variant.discarded? %>
          <%= link_to product_variant, class: "bg-inherit" do %>
            <div class="grid grid-cols-12 gap-1">
              <div class="col-span-4 product-image-container mx-auto">
                <!--Product Image-->
                <% if product_variant.main_image.attached? %>
                  <%= image_tag product_variant.main_image, class: "product-image" %>
                <% else %>
                  <%= image_tag image_url("no_image.jpg"), class: "product-image" %>
                <% end %>
              </div>
              <div class="col-span-8">
                <p class="mb-2">
                  <strong>Batch no:</strong>
                  <%= product_variant.batch_no %>
                </p>

                <p class="mb-2">
                  <strong>Weight:</strong>
                  <%= product_variant.weight %>
                </p>

                <p class="mb-2">
                  <strong>Price:</strong>
                  <%= product_variant.price %>
                </p>

                <p class="mb-2">
                  <strong>Quantity:</strong>
                  <%= product_variant.quantity %>
                </p>

                <p class="mb-2">
                  <strong>Expiry:</strong>
                  <%= product_variant.expiry %>
                </p>

                <p class="mb-2">
                  <strong>Product:</strong>
                  <%= product_variant.product_id %>
                </p>
                <%= link_to 'Edit', edit_product_variant_path(product_variant, pid: product_variant.product_id) if user_signed_in? && policy(product_variant).edit?  %> |
              </div>
            </div>
          <% end %>
          <hr class="mb-4 mt-8 w-full">
        <% end %>
      <% end %>
    <% else %>   
      <div class="grid grid-cols-12 gap-1=">
        <div class="col-span-4 product-image-container mx-auto">
          <!--Service Image-->
          <% if result.main_image.attached? %>
            <%= image_tag result.main_image, class: "product-image" %>
          <% else %>
            <%= image_tag image_url("no_image.jpg"), class: "product-image" %>
          <% end %>
        </div>
        <div class="col-span-8">
          <p class="mb-2 product-name">
            <%= result.name %>
          </p>
          <p class="mb-2">
            <strong>Description:</strong>
            <%= result.description %>
          </p>
          <p class="mb-2">
            <strong>Duration:</strong>
            <%= result.duration %>
          </p>
          <p class="mb-2">
            <strong>Price:</strong>
            <%= result.price %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @searches.total_entries > 10 %>
    <div class="mx-auto mt-2 mb-2 mx-auto"><%== pagy_nav(@pagy) %></div>
  <% end %>
</div>
<br>

