<p id="notice"><%= notice %></p>

<p>
  <strong>Readed:</strong>
  <%= @notification_belong.readed %>
</p>

<p>
  <strong>User:</strong>
  <%= @notification_belong.user_id %>
</p>

<p>
  <strong>Notification:</strong>
  <%= @notification_belong.notification_id %>
</p>

<%= link_to 'Edit', edit_notification_belong_path(@notification_belong) %> |
<%= link_to 'Back', notification_belongs_path %>
