<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Category of:</strong>
  <%= @category.category_of %>
</p>

<%= link_to 'Edit', edit_category_path(@category) if user_signed_in? && policy(category).edit? %> |
<%= link_to 'Back', categories_path %>
