<div class="container mx-auto mt-4">
  <div class="flex flex-col">
      <%= link_to 'Add a New Product', new_product_path,class: "mb-6 appearance-none block w-full text-center bg-green-600 text-white font-bold border border-gray-200 rounded-lg py-3 px-3 leading-tight hover:bg-green-500 focus:outline-none focus:bg-green focus:border-gray-500" if(user_signed_in? && current_user.role != "buyer") %>
      <div class="text-3xl mt-5">
        <%= @heading %>
      </div>
  </div>
    <% if !@products.nil? %>
      <div class="flex flex-col">
        <ul class="result">
          <% @products.includes(:main_image_attachment).each do |product| %>
              <li>
                <div class="card cardsearchcloth">
                  <%= link_to product, class: "bg-inherit" do %>
                    <% if product.main_image.attached? %>
                      <%= image_tag product.main_image, class:"w-full" %>
                    <% else %>
                      <%= image_tag image_url("no_image.jpg"), class:"w-full" %>
                    <% end %>
                    <div class="card-body" style="text-align:left">
                      <div class="card-product-name text-center">
                        <%= product.name %>
                      </div>
                  <% end %>
                    <% if user_signed_in? && current_user.role == "admin" && product.discarded? %>
                    <div class="text-center w-full  text-1xl head text-red-500">Deleted</div>
                    <% end %>
                      <div>
                        <%= link_to 'Edit', edit_product_path(product),class: "text-green-600 hover:text-green-600" if user_signed_in? && policy(product).edit? %>
                      </div>
                      <div>
                        <% if !product.discarded? %>
                          <%= link_to 'Delete', soft_destroy_product_path(id: product.id), method: :post, data: { confirm: 'Are you sure?' },class: "text-red-600 hover:text-delete-600"  if user_signed_in? && policy(product).soft_destroy? %>
                        <% else %>
                          <%=link_to "Undelete", restore_soft_deleted_product_path(id: product.id), data: { confirm: "Are you sure?" }, method: :post, class: "bg-inherit text-green-600 hover:text-green-600 visited:text-green-700", data: { confirm: "Are you sure?"} if policy(product).restore_soft_deleted?%>
                        <% end %>
                      </div>
                    <% if user_signed_in? && current_user.role == "admin" && product.discarded? %>
                      <div>
                        <%= link_to 'Permanent Delete', "/products/"+product.id.to_s, method: :delete, data: { confirm: 'Are you sure?' },class: "text-red-600 hover:text-delete-600"  if user_signed_in? && policy(product).destroy? %>
                      </div>
                    <% end %>
                  </div>
              </li>
            <% end %>
        </ul>
        <div class="view-more"> 
          <button class="">View All</button>
        </div>
        <div class="pages mx-auto mt-2 mb-2"><%== pagy_nav(@pagy) %></div>
      </div>

      
        <!--Product Cards-->
        <div class="mt-5">
          <ul class="result">
            <% @products.each do |product| %>
              <% product.product_variants.includes(:main_image_attachment).each do |product_variant| %>
                <%= link_to product_variant, class: "bg-inherit" do %>
                  <li>
                    <div class="card cardsearchcloth">
                        <% if product_variant.main_image.attached? %>
                          <%= image_tag product_variant.main_image,class: "product-image mx-auto" %>
                        <% else %>
                          <%= image_tag image_url("no_image.jpg"), class:"h-full", style: "height: 245px;width: auto;border-radius: 4px;margin: auto;margin-top: 7px;" %>
                        <% end %>
                      <div class="card-body" style="text-align:left">
                        <div class="card-product-name">
                          <%= product_variant.product.name %>
                        </div>
                        <span style="color:red;font-weight:600;font-size:18px;">₹ <%= product_variant.price %></span>
                        <div style="font-weight:600;font-size:12px;">(Inclusive of all taxes)</div>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
    <% end %>
</div>