<div class="sub-nav w-full bg-green-900 text-white py-4 px-2 nav-item shadow-lg font-semibold text-white transition duration-300" style="height:45px">
    <% if !user_signed_in? || current_user.role == "buyer" %>
        <% Category.all.each do |category| %>
            <div class="float-left  px-4 ">
                <%= link_to category.name, products_path(category: category.name), class: "text-white bg-inherit" %>
            </div>
        <% end %>
    <% elsif user_signed_in? && (current_user.role == "admin" || current_user.role == "seller") %>
        <div class="float-left  px-4 ">
            <%= link_to "All Categories", categories_path, class: "text-white bg-inherit" %>
        </div>
        <div class="float-left  px-4 ">
            <%= link_to "Mange Products", products_path, class: "text-white bg-inherit" %>
        </div>
        <div class="float-left  px-4 ">
            <%= link_to "Manage Services", product_services_path, class: "text-white bg-inherit" %>
        </div>
        <div class="float-right  px-4 ">
            <%= link_to "Total Orders", orders_path, class: "text-white bg-inherit" %>
        </div>
    <% end %>
    
    <% if user_signed_in? && current_user.role == "admin" %>
        <div class="float-right  px-4">
            <%= link_to "Total Users", users_path, class: "text-white bg-inherit" %>
        </div>
    <% end %>
</div>